#container {
  width: 50%;
  height: 50%;
  margin: 15% auto;
}

p {
  margin: 0 25% 25% 25%;
}

ul {
  width: 50%;
  height: 50%;
  list-style: none;
  margin: 0 auto;
}

li {
    display : inline;
    font-size: 60px;
    font-family: sans-serif;
}

button:hover {
    border: 1px solid olive;
}

button { 
  all: unset;
  background-color: silver;
  padding: 2%;
  border: 1px solid silver;
  border-radius: 25% 25% / 25% 25%;
}
